WPF/SALPrototypeWPF/Backup/SAL.WCFProxy/Service References/WCFProxyAccountSettings/WCFAccountSettings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SAL.WCFServiceHost" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SAL.WCFServiceHost" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AccountId">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClearingId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountId" nillable="true" type="tns:AccountId" />
  <xs:complexType name="AccountSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuyingPower" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="tns:AccountId" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountSettings" nillable="true" type="tns:AccountSettings" />
</xs:schema>