WPF/SALPrototypeWPF/Backup/SAL.WCFProxy/Service References/WCFProxyAccountSettings/WCFAccountSettings2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3439/WCFAccountSettings.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SAL.WCFServiceHost" />
  <xs:element name="GetAccountSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SAL.WCFServiceHost" minOccurs="0" name="id" nillable="true" type="q1:AccountId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SAL.WCFServiceHost" minOccurs="0" name="GetAccountSettingsResult" nillable="true" type="q2:AccountSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAccountBuyingPower">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SAL.WCFServiceHost" minOccurs="0" name="id" nillable="true" type="q3:AccountId" />
        <xs:element minOccurs="0" name="bp" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAccountBuyingPowerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>